body{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/974/565/254/windows-11-windows-10-minimalism-hd-wallpaper-preview.jpg);
    background-size: cover;
    background-position-y: -100px;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    max-width: 960px;
    margin: 0px auto;
}
#header{
    background: #131921;
    margin: -8.25px -8.25px;
}
nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
#logo{
    padding: 5px 150px;
}
#logo img{
    max-width: 70px;
    height: auto;
}
#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-menu li{
    position: relative;
}
#main-menu li a{
    color: #f8f8f8;
    display: block;
    padding: 30px 30px;
    text-decoration: none;
}
#main-menu ul.sub-menu{
    position: absolute;
    background-color: #131921;
    padding: 15px 0px;
    list-style: none;
    width: 200px;
    border-bottom: 1px solid #434343;
    display: none;
}
#main-menu li:hover>ul.sub-menu{
    display: block;
}
#main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid #434343;
    left: 0;
}
#main-menu ul.sub-menu li:hover a{
    border-bottom: #5c5c5c;
}
#main-menu ul.sub-menu li:last-child a{
    border: none;
}
#main-menu ul.sub-menu ul.sub-menu{
    left: 200px;
    top: -12px;
}
/* settings when hover */
#main-menu>li>a{
    position: relative;
}
#main-menu>li>a::before{
    content: "";
    height: 4px;
    width: 0px;
    background: rgb(132, 0, 255);
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#main-menu>li:hover>a::before{
    width: 100%;
}
#main-menu>li.has-child::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    color: #858585;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 30px 0px;
}
#main-menu .sub-menu li:hover>a{
    color: #e100ff;
}
#main-menu .sub-menu>li.has-child::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    color: #858585;
    position: absolute;
    top: 0px;
    right: 10px;
    padding: 20px 0px;
}
#main-menu .sub-menu>li.has-child:hover::after{
    color: #e100ff;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f9fb;
    transition: opacity 0.5s, visibility 0.5s;
  }
.loader-hidden {
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #7449f5;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
@keyframes loading {
    from { 
        transform: rotate(0turn);
    }
    to { 
        transform: rotate(1turn);
    }
  }
